.chat-contact-list-item .active .last-message {
    color: #d6d6da !important;
}

span#notificationBadge {
    position: absolute;
    top: -5px;
    right: -7px;
    font-size: 10px;
    font-weight: 900;
    color: #ffffff;
}
